
<mat-card *ngFor ="let post of user">
    <mat-card-title>Post Id: {{post.id}}</mat-card-title>
    <mat-card-subtitle>User Id: {{post.user_id}}</mat-card-subtitle>
    <mat-card-content>
        <mat-card-title>Title</mat-card-title>
        <p>{{post.title}}</p>
    </mat-card-content>
    <mat-card-content>
        <mat-card-title>Body</mat-card-title>
        <p>{{post.body}}</p>
    </mat-card-content>
    
    <!-- <mat-card-subtitle>Email: {{user.email}}</mat-card-subtitle>
    <mat-card-subtitle>Id: {{user.id}}</mat-card-subtitle>
    <mat-card-content>
        <mat-card-subtitle>Gender: {{user.gender}}</mat-card-subtitle>
        <mat-card-subtitle>Status: {{user.status}}</mat-card-subtitle>
    </mat-card-content> -->
    <mat-card-action>
        <button routerLink="/home" mat-button> Back</button>
    </mat-card-action>
</mat-card>