.card{
    margin: 20px;
}
button{
    background-color: blueviolet;
    color: beige;
    margin-left: 10px;
}
.card button{
    background-color: #4edb66;
}
.gender{
    color: blueviolet;
}
.female{
    padding: 20px;
    background-color: antiquewhite;
    font-size: 18px;
    color: red;
}