<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <form class="example-form" #form = "ngForm" (ngSubmit) = "submit(form)">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input  matInput 
            name="email"
            type="email"
            placeholder="Email"
            [pattern]="emailRegex"
            ngModel
            required
            >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input 
                matInput 
                name="password"
                type="password"
                placeholder="Password"
                ngModel
                required
            >
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" [disabled]="form.invalid" class="btn-block">Log in</button>
      </form>
    </mat-card>
  </div>
